body {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

p {
  
  line-height: 29px;
  font-size: 19px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}
nav {
  position: fixed;
  top: 0;
  background:mistyrose;
  width:100%;
}

footer {
  position:fixed;
  bottom: 0;
  background:mistyrose;
  width:100%;
}

h1 {
  font-style: italic;
  font-size: 35px;
}

h2 {
  font-size: 19px;
  font-weight: 700;
}

button {
  color: white;
  background: rgb(98, 136, 165);
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

button:hover {
  background: rgb(70, 117, 153);
  cursor: pointer;
  transition: 0.5s;
}

/* 
Main container selector 
*/

figure > * {
  align-self: center;
  justify-self: center;
}

.container {
  margin-top: 25px;
  display: grid;
  grid-template-columns:2fr 3fr 2fr;
  padding:0;
}

.container > * {
  grid-column: 2 / -2;
}

.container > figure{
  grid-column: 1 / -1;
  margin: 0;
  display: grid;
  background: rgb(243, 243, 243);
  padding: 10px;
}

/* 
Top content 
*/

.main-img {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.main-img > *{
  grid-column: 2 / -2;
}

.main-img img {
  width: 100%;
}

.author-info h3 {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
}

.author-info a {
  text-decoration: underline;
  color:rgb(92, 91, 91);
}

.author-info a:hover {
  text-decoration: none;
}
.author-social {
  display: flex;
  align-items: center;
  margin: 0;
}

.author-social h4 {
  flex: 1;
  font-size: 14px;
  font-weight: 100;
}

.social{
  width: 18px;
  height: 18px;
  margin: 8px;
  padding:4px;
  background: rgba(128, 128, 128, 0.123);
  border: 1px solid rgba(128, 128, 128, 0.014);
  border-radius: 50px;
}

.social:hover{
  border: 1px solid rgba(128, 128, 128, 0.336);
  background: white;
  cursor: pointer;
}

/* Captions */

.caption{
  font-size: 15px;
  line-height: 15px;
  color: #666;
}

.cap-author{
  font-size: 12px;
  color: #666;
}

.cap-space {
  margin: 2px;
}

/* 
Telescope Image 
*/

.container > .telescope-img img{
  width: 600px;
}

.container .telescope-img {
  background-color: white;
}

/*
Theories content 
*/

.theories {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  justify-content: center; 
}
.container .theories {
  background-image: url("images/theory1.png");
  background-size: 600px;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2 / -2;
}

.theories .theory {
  margin-top: 90px;
  padding: 2px;
}

.theory p {
  font-family: arial,helvetica,sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 13px;
  line-height: none;
}

.theory-cap {
  margin-top: -10px;
}

.theory-author {
  border-top: 1px black solid;
  padding: 10px;
}

/* Right side content */

.side-picks, .sign-up {
  grid-column: span 1 / -1;
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}

.side-picks h4 {
  font-size: 14px;
  border-bottom: 1px solid rgba(185, 184, 184, 0.247);
  padding-bottom: 10px;
  margin: 0;
}
.side-picks div {
  display:flex;
  margin-top: 18px;
  align-items: center;
}


.side-picks div:last-child {
  background: rgba(185, 184, 184, 0.247);
  padding: 5px 5px 5px 0;
}

.side-picks img {
  width: 80px;
  height: 80px;
}

.side-picks a {
  font-size: 13px;
  color: rgb(5, 5, 5);
  text-decoration: none;
  margin-left: 4px;
}

/*
Sign up bar
 */

 .sign-up > * {
   margin: 4px 0;
 }

 .sign-up h4 {
   font-size: 18px;
   font-weight: 600;
 }

.sign-up p {
  font-size: 14px;
  line-height: 16px;
}

.sign-up button {
  width: 160px;
}

.sign-up button:hover {
  background: rgb(70, 117, 153);
  cursor: pointer;
}

/* 
Main Content foot
 */

.content-foot {
  display:flex;
  margin-top:25px;
}

.content-foot button{
  width: 300px;
  height: 35px;
  margin-right: 100px;
}

/* 
Bottom Articles section
*/
#editor {
  grid-column: 1/-1;
}



.articles {
  grid-column: 1 / -1;
  display: grid;
  margin: 25px;
  grid-gap:30px;
  grid-template-areas:
    "next-art next-art pop pop pop"
    "next-art next-art pop pop pop"
    "editor-art editor-art pop pop pop"
}

.articles > * {
  border-top: 1px solid gray;
}

.article-next {
  grid-area: next-art;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.art-text-title {
  grid-column: 1 / -1;
  font-weight: 600;
  color:black;
  text-decoration: none;
  padding-top:10px;
}

.art-text-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-articles img {
  width: 200px;
}

.more-articles p {
  font-size: 18px;
  line-height: 20px;
  margin-right: 50px;
}

.more-articles p:hover {
  color: rgba(0, 0, 0, 0.486);
  cursor: pointer;
}

.article-pop {
  grid-area: pop;
  padding: 10px;
}

.article-pop h4 {
  font-size:18px;
  font-weight: 400;
  border-top: 1px solid rgba(128, 128, 128, 0.178);
  padding: 12px 0;
  margin: 0;
}

.article-pop h4:hover {
  color: rgba(0, 0, 0, 0.486);
  cursor: pointer;
}


.article-editor {
  grid-area: editor-art;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  border-top: 1px solid black;
}

.article-editor p {
  font-size: 18px;
  line-height: 20px;
  margin-right: 50px;
}

.article-editor p:hover {
  color: rgba(0, 0, 0, 0.486);
  cursor: pointer;
}

/* 
bottom links
 */

.additional-links{
  grid-column: 1 / -1;
  display: flex;
  align-content: center;
  border-top: 1px solid gray;
  margin-bottom: 30px;
  padding: 10px;
}

/* 
Content Footer
*/

.footer-info h4 {
  grid-column: 1 / -1
}

.footer-info{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

